<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
     <link rel="stylesheet" href="css/community.styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.8.1/socket.io.min.js" integrity="sha512-8ExARjWWkIllMlNzVg7JKq9RKWPlJABQUNq6YvAjE/HobctjH/NA+bSiDMDvouBVjp4Wwnf1VP1OEv7Zgjtuxw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script defer src="/js/chat.app.js"></script>
    
</head>
<body>

<main>
<form class="form-join">
    <input type="text" id="name" maxlength="15" placeholder="Seu nome" size="5" required>
    <input type="text" id="room" placeholder="Bate-papo" size="5" required>
    <button id="join" type="submit">Entrar</button>
</form>

<ul class="chat-display"></ul>
<p class="user-list"></p>
<p class="room-list"></p>
<p class="activity"></p>

<form class="form-msg">
    <input type="text" id="message" placeholder="Digite uma mensagem" required>
    <button class="send-message" type="submit">Enviar</button>
</main> 
</form>
</body>
</html>