<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Reedin</title>
</head>
<body>
    <div class="header-container">
        <div class="header">
        <h1 id="myHeader"><strong>Reed</strong><span class="myHeaderTeal" style="color: rgb(0, 255, 255)">in</span></h1>
        </div>
    </div>
    <nav id="header-links">
        <ul id="list-links">
            <li><a href="/library">Biblioteca</a></li>
            <li><a href="/community">Chat</a></li>
            <li>Sobre</li>
        </nav>
    </div>
</body>
</html>