    .header-container{
        display: flex;
        justify-content: center;
    }
    .header{
       margin-top: 35vh;
    }
    #header-links{
        display: flex;
        justify-content: center;
        margin-top: 15vh
    }
    #list-links li{
        display: inline;
        padding-right: 20px;
    }
    .myHeaderTeal{
        text-decoration: underline;
        text-decoration-color: rgb(0, 255, 255);
    }

    #myHeader{
        -webkit-text-stroke: .5px black;
        font-size: 5rem;
    }

    #myHeader {
        text-decoration: underline;
    }

    
   